html {
  height: 100%;
}

body {
  background-image: url(../images/goku_sb.png);
  background-color: #777;
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border: none;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Pacifico', serif;
}

.panel {
  border-radius: 0px;
  border-color: #fff;
  background: none;
}

.panel h3 {
  font-size: 15px;
  font-weight: 600;
  font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.panel-default > .panel-heading {
  background: none;
  border: none;
}

#about {
  padding: 10px 15px;
  color: #fff;
}

.table-responsive {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}

.btn {
  border-radius: 0px;
  font-family: monospace;
}

.list-group-item-heading {
  font-size: 15px;
  font-weight: 600;
  font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.panel-heading {
  border: solid 1px #fff;
  border-bottom: none;
  background: none;
  border-radius: 0px;
}

.panel-heading h3 {
  color: #fff;
}

.panel-default .show-more {
  background-color: #b96c6c;
  text-align: center;
  text-decoration: none;
}

.show-more h3 {
  display: inline;
}

.form-control {
  border-radius: 0;
}

.table {
  margin-bottom: 0;
}

.table-header {
  border: none !important;
}

textarea {
  resize: none;
}