body {
  background-image: url(../images/goku_sb.png);
  background-color: #777;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border: none;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Pacifico', serif;
}

.panel {
  border-radius: 0px;
  background: none;
}

.panel-default>.panel-heading {
  background: none;
  border: none;
}

#about {
  padding: 10px 15px;
  color: #fff;
}

.table-responsive {
  border: 1px solid #ddd;
  background: none;
  color: #fff;
}

.btn {
  border-radius: 0px;
  font-family: monospace;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.panel-heading {
  border: solid 1px #fff;
  border-bottom: none;
  background: none;
  border-radius: 0px;
}

.panel-heading h3 {
  color: #fff;
}

.form-control {
  border-radius: 0;
}

.table {
  margin-bottom: 0;
}